html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
}

.navigation ul {
  display: flex;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  background: linear-gradient(
    linear,
    left top,
    left bottom,
    from(#686868),
    color-stop(50%, #5e5e5e),
    color-stop(50%, #707070),
    to(#8d8d8d)
  );
  background: linear-gradient(
    to bottom,
    #686868,
    #5e5e5e 50%,
    #707070 50%,
    #8d8d8d
  );
}

.navigation ul > li > a {
  padding-right: 2em;
}

.navigation ul > li > a:hover {
  background-color: violet;
}

ul {
  list-style-type: none;
}

.main-content {
  background: url('./images/bg-img.jpg') no-repeat;
  width: 100%;
  height: 600px;
  background-position: center -720px;
}

.big-img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 5em;
  text-decoration: solid;
  cursor: pointer;
}

h3 {
  line-height: 0rem;
  font-size: 1rem;
}

h3:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
}

h2:nth-child(2) {
  line-height: 1rem;
}
